In [ ]:
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
from nltk import tokenize

#from sklearn import linear_model
#from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_extraction.text import CountVectorizer

# Section 1. Identify cat/dog owners

### load data

In [2]:
data = pd.read_csv('animals_comments.csv')

In [3]:
data.head(10)

,creator_name,userid,comment
0,Doug The Pug,87,I shared this to my friends and mom the were lol
1,Doug The Pug,87,Super cute üòÄüêïüê∂
2,bulletproof,530,stop saying get em youre literally dumb . have...
3,Meu Zool√≥gico,670,Tenho uma jiboia e um largato
4,ojatro,1031,I wanna see what happened to the pigs after th...
5,Tingle Triggers,1212,Well shit now Im hungry
6,Hope For Paws - Official Rescue Channel,1806,when I saw the end it said to adopt I saw dif...
7,Hope For Paws - Official Rescue Channel,2036,Holy crap. That is quite literally the most ad...
8,Life Story,2637,Ê≠¶Âô®„ÅØ„ÇØ„Ç®„Çπ„Éà„ÅßË≤∞„Åà„Çã„Çì„Åò„ÇÉ„Å™„ÅÑ„Çì„Åß„Åô„ÅãÔºü
9,Brian Barczyk,2698,Call the teddy Larry

In [4]:
data.shape

(5819470, 3)

In [5]:
# drop duplicated data
data = data.drop_duplicates()

In [ ]:
data.shape

In [6]:
# drop nan
data = data.dropna()

In [66]:
data.shape

(5725601, 3)

In [72]:
# reset index
data = data.reset_index(drop=True)

In [73]:
data[100000: 100001]

,creator_name,userid,comment
100000,Taylor Nicole Dean,1582704,I have 3 hermit crabs. I have stopped buying H...

### tokenize sentences

In [ ]:
tokenize.sent_tokenize(data.iloc[313][2])

### label a small part of data

In [74]:
labeledData = data.iloc[:100000].copy()
labeledData.shape

(100000, 3)

In [75]:
labeledData.tail(10)

,creator_name,userid,comment
99990,Taylor Nicole Dean,1582704,Cheese and that slice of Cheese must be identi...
99991,Taylor Nicole Dean,1582704,Some Girl Names: Luna Misty Lily Tilly Sasha S...
99992,Taylor Nicole Dean,1582704,Cheese is so cute!! Hes just like a dog rollin...
99993,Taylor Nicole Dean,1582704,You have such a big heart Taylor!! That is wha...
99994,Taylor Nicole Dean,1582704,Awe I am so sorry Taylor its so hard seeing a ...
99995,Taylor Nicole Dean,1582704,What kind of fish is cheese?
99996,Taylor Nicole Dean,1582704,You should have bought that cow fish!! Get che...
99997,Taylor Nicole Dean,1582704,Hey Taylor you should get a plant!! Maybe grow...
99998,Taylor Nicole Dean,1582704,What a little cutie toast is!!!! :DDDD
99999,Taylor Nicole Dean,1582704,Can you turn cheese into 2 fish with your magi...

In [93]:
def findOwner(df, DataSize):
    labels = []
    for i in range(DataSize):
        #print(i)
        temp = tokenize.sent_tokenize(df.iloc[i][2])
        label = 0
        #print(df.iloc[i][2])
        for sentence in temp:
            # find key words in the sentences, dog owner is labeled as 1, cat owner is labeled as 2
            mylist = tokenize.word_tokenize(sentence)
            if 'dog' in mylist or 'dogs' in mylist:
                if 'my' in mylist or 'own' in mylist:
                    label = 1
                elif 'I' in mylist and 'have' in mylist:
                    label = 1   
                elif 'we' in mylist and 'have' in mylist:
                    label = 1 
            elif 'cat' in mylist or 'cats' in mylist:
                if 'my' in mylist or 'own' in mylist:
                    label = 2
                elif 'I' in mylist and 'have' in mylist:
                    label = 2   
                elif 'we' in mylist and 'have' in mylist:
                    label = 2
        labels.append(label)
    return labels

labels = findOwner(labeledData,labeledData.shape[0])
#test = findOwner(labeledData, labeledData.shape[0])
#print(test)

In [53]:
labels[364]

2

In [91]:
sentence = 'my dog is nike'
mylist = tokenize.word_tokenize(sentence)
print('dog' in mylist)

True

In [77]:
len(labels)

100000

In [94]:
print(labels.count(1))
labels.count(2)

865

453

In [95]:
labeledData['labels'] = pd.Series(labels)

In [106]:
labeledData = labeledData.sort_values(by = 'labels', ascending=False)

In [108]:
labeledData.shape

(100000, 4)

In [109]:
# export data for future use
export_csv = labeledData.to_csv (r'labeledData.csv', index = None, header=True)

In [98]:
catData = labeledData[labeledData['labels'] == 2].copy()
catData.shape

(453, 4)

In [99]:
catData.head()

,creator_name,userid,comment,labels
11,Hope For Paws - Official Rescue Channel,2911,That mother cat looks like my own Im guessing ...,2
162,stacyvlogs,24646,Male cats are a lot more affectionate than fem...,2
184,Viktor Larkhill,33849,I would love to have Suki. Although we live in...,2
231,Cole & Marmalade,43112,I blow smoke in my cats ear right to his brain,2
410,The Pet Collective,74976,I have a great cat video on my channel,2

In [103]:
sentence = catData.iloc[5][2]
sentence

'This guy needs a medal and a reward for helping cats and kittens from trees and problems he even feeds them people dont do that a lot I have a street cat and my family feeds her everytime she comes to our window so this man is a nice and awesome person show the the <3'